<div *ngIf="auth.user | async as user; else showLogin">
  <div class="header">
    <h2>Hello {{ user.displayName }}!</h2>
    <button (click)="logout()">Logout</button>
  </div>
  <h3>PIN</h3>
  <input type="password" [(ngModel)]="key">
  <button (click)="load()">Load Secret</button>
  <h3>Secret Info</h3><br>
  <textarea [(ngModel)]="info"></textarea>
  <button (click)="save()">Save Secret</button>
</div>
<ng-template #showLogin>
  <p>Please login.</p>
  <button (click)="login()">Login with Google</button>
</ng-template>